.players_alive {
  display: flex;
  align-items: center;
  width: 106px;
  height: 36px;
  background-color: var(--sub-panel-color);
  border-radius: calc(var(--border-radius) - 2px);
  position: fixed;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: width 0.5s;
  z-index: 6;

  .counter_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: white;
    }

    .team_counter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 100%;
      font-size: 21px;
    }

    .CT {
      color: var(--color-new-ct);
    }

    .T {
      color: var(--color-new-t);
    }
  }

  .title_container {
    color: white;
    text-transform: uppercase;
    width: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
  }

  &.hide {
    opacity: 0;
  }
}
