.map_series_container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 310px;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  flex-direction: column;
  font-size: 12px;
  .veto_container {
    display: flex;
    background-color: var(--sub-panel-color);
    color: white;
    align-items: center;
    height: 36px;
    &.active {
      .veto_winner {
        display: none;
      }
      .veto_score {
        display: none;
      }
    }
    .veto_map_name {
      width: 104px;
      text-transform: uppercase;
      background-color: var(--main-panel-color);
      height: 100%;
      display: flex;
      font-family: Montserrat;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: var(--border-radius);
    }
    div {
      img {
        max-height: 26px;
        max-width: 26px;
      }
    }
    .veto_picker {
      width: 69px;
      text-align: center;
    }
    .veto_winner {
      width: 69px;
      text-align: center;
    }
    .active_container {
      width: 138px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .active {
        background: var(--border-color);
        color: var(--primary-light);
        width: 106px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        font-weight: 700;
        font-family: Montserrat;
        text-transform: uppercase;
      }
    }
    &:not(.active) {
      .active_container {
        display: none;
      }
    }
    .veto_score {
      width: 69px;
      text-align: center;
      font-size: 12px;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:last-child {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }
  .title_bar {
    display: flex;
    background-color: var(--sub-panel-color);
    height: 22px;
    color: white;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 2px solid var(--border-color);
    div {
      width: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .picked {
      margin-left: auto;
    }
  }
  &.show {
    opacity: 1;
  }
}

#timeout {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 202px;
  background-color: var(--sub-panel-color);
  border-radius: var(--border-radius);
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  font-size: 31px;
  font-weight: 600;
  transition: opacity 1.5s;
  opacity: 0;
  color: white;
  .CT {
    color: var(--color-new-ct);
  }
  .T {
    color: var(--color-new-t);
  }
}
#pause {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 202px;
  background-color: var(--sub-panel-color);
  border-radius: var(--border-radius);
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  font-size: 31px;
  font-weight: 600;
  transition: opacity 1.5s;
  opacity: 0;
  color: white;
}
#timeout.show,
#pause.show {
  opacity: 1;
}
